<div class="cmds">
  <h3 class="cmds__title">Generated Commands</h3>
  @if (!data.commands || data.commands.length === 0) {
    <p>No commands to show.</p>
  } @else {
    <ul class="cmds__list">
      @for (cmd of data.commands; track i; let i = $index) {
        <li>
          <code>{{ cmd }}</code>
          <button mat-stroked-button color="primary" [cdkCopyToClipboard]="cmd">Copy</button>
        </li>
      }
    </ul>
  }
  <div class="cmds__actions">
    <button mat-button (click)="close()">Close</button>
  </div>
</div>
